* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #383838;
    color: white;
    min-width: 500px;
    min-height: 600px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    border-radius: 10px;
    width: 302px;
    height: 101px;
    margin-top: 36px;
    font-size: 48px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.about {
    margin: 25px 0px;
    text-align: center;
}

.input {
    line-height: 45px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.button {
    padding: 10px 20px;
    margin: 25px 2px;
    font-size: 20px;
    border-radius: 10px;
    background: none;
    border: 2px solid white;
    color: white;
}

#list {
    list-style: none;
}

#list a {
   text-decoration: none; 
   color: greenyellow;
}